/* Global */
html, body {
    scroll-behavior: smooth;
}

/* FA icons */
.fas, .fab {
    font-size: 4rem;
    margin: 1rem;
}

.fa-code {
    color: #e54d26;
}

.fa-css3 {
    color: #2163af;
}

.fa-js-square {
    color: #EFD55A;
}

.fa-php {
    color: #4F5B93;
}

/* Overwriting bootstrap */
hr {
    border-top-width: 2px !important;
}

/* Cookies */

.cookie-container {
    position: fixed;
    bottom: -100%;
    left: 0;
    right: 0;
    background-color: white;
    transition: 400ms;
}

.cookie-container.active {
    bottom: 0;
}

/* Other */
.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.parallax {
    background-image: url("../images/parallax.jpg");
    height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .error {
      color: red;
  }